body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:dimgray
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1 {
  margin: 20px 0;
  color:mintcream;
}

table {
  max-width: 500px;
}